# Visual Studio Code
#.vscode/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.a

# Executables
*.exe

# DUB
.dub
dub.*.json
docs.json
__dummy.html
docs/
*-test-*

# Code coverage
*.lst
mixin_output.d

# Others
/java/
.DS_Store
*.zip

# Examples
examples/mysql/mysql_demo
examples/postgresql/postgresql-demo
examples/UnitTest/unittest
